/* _____ Import files _____ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* _____ style all rules _____ */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--fColor: #1c1c26;
}

body {
	font-size: 14px;
	color: var(--fColor);
	overflow-x: hidden;
	height: 2000px;
	font-family: "poppins", sans-serif;
}

@font-face {
	font-family: "Sofia Pro";
	src: url("../fonts/Sofia-Pro-ExtraLight-Az.otf") format("opentype");
	font-style: normal;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--fColor);
}

p {
	line-height: 26px;
}

span,
a {
	display: inline-block;
}

img {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.position-relative {
	position: relative;
}

.img-fluid {
	max-width: 100%;
	vertical-align: middle;
}

.cursor-pointer {
	cursor: pointer;
}

input,
button {
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sofia Pro", sans-serif;
}

svg {
	vertical-align: middle;
}

/* _____ style header top _____ */
.header-top {
	padding: 30px 0;
	position: fixed;
	top: 0;
	width: 100%;
	transition:
		top 0.4s,
		background 0.4s;
	z-index: 999;
	overflow: hidden;
	width: 100%;
}
.header-top.active {
	background-color: #fff;
}
.header-top .logo {
	max-width: 120px;
}

.header-top .menu li {
	margin-right: 35px;
	position: relative;
}

.header-top .menu li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transition: transform 0.3s linear;
	background-color: #fff;
	transform: scaleX(0);
}
.header-top .menu li:hover::after,
.header-top .menu li.active::after {
	transform: scaleX(1);
}

.header-top .menu li:last-of-type {
	margin-right: 0;
}

.header-top .menu li a {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.4s;
	padding: 6px 0;
	color: #fff;
}
.header-top .icon-nav {
	width: fit-content;
	cursor: pointer;
	display: flex;
}
.header-top .icon-nav span {
	border-bottom: 2px solid #fff;
	width: 18px;
	height: 2px;
	transition: 0.5s;
	position: relative;
}

.header-top .icon-nav span:before,
.header-top .icon-nav span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	border-bottom: 2px solid #fff;
	transition: transform 0.5s;
}

.header-top .icon-nav span:before {
	top: -6px;
}

.header-top .icon-nav span:after {
	top: 6px;
}

.header-top .header-icons li {
	margin-right: 27px;
	cursor: pointer;
	position: relative;
}
.header-top .header-icons li svg,
.header-top .logo path {
	fill: #fff;
	transition: fill 0.4s;
}
.header-top .header-icons li.register path  {
	transition: stroke 0.4s;
}
.header-top .header-icons li:last-of-type {
	margin-right: 0;
}
.header-top .header-icons li.shopping svg {
	margin-right: 28px;
}

@media screen and (max-width: 1200px) {
	.header-top {
		padding: 20px 0;
	}
	.header-top .logo {
		max-width: 110px;
	}
	.header-top .header-icons li.shopping svg {
		margin-right: 0;
	}
}

.header-top .header-icons li span.count {
	font-size: 10px;
	color: #28283d;
	font-weight: 600;
	text-align: center;
	line-height: 22px;
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff;
	transition:
		background 0.4s,
		color 0.4s;
}

@media screen and (max-width: 1200px) {
	.header-top .menu {
		display: none !important;
	}
}

.header-top.active .menu li a {
	color: var(--fColor);
}
.header-top.active .header-icons li.register path {
	stroke: var(--fColor);
}
.header-top.active .header-icons li svg,
.header-top.active .logo path  {
	fill: var(--fColor);
}
.header-top.active .icon-nav span,
.header-top.active .menu li::after,
.header-top.active .icon-nav span:before {
	border-bottom: 2px solid var(--fColor);
}
.header-top.active .header-icons li span.count {
	background-color: var(--fColor);
	color: #fff;
}

/* _____ style sec-hero _____ */
.sec-slider {
	position: absolute;
	width: 100%;
	top: 0;
	overflow: hidden;
}
.sec-slider img {
	height: 100vh;
	object-fit: cover;
	width: 100%;
}
.sec-slider .slider-desc {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 15%;
	text-align: center;
}

.sec-slider .slider-desc h3 {
	font-size: 50px;
	font-weight: 200;
	text-transform: capitalize;
	transition: 0.4s;
	color: inherit;
	letter-spacing: 1px;
	color: #fff;
}
.sec-slider .slider-desc p {
	color: #fff;
	font-weight: 300;
	font-size: 10px;
}
.sec-slider .slider-desc a.link-desc {
	font-weight: 600;
	font-size: 9px;
	text-transform: uppercase;
	position: relative;
	padding: 5px 0;
	transition: 0.4s color;
	color: inherit;
	text-align: center;
	color: #fff;
}
.sec-slider .slider-desc a.link-desc::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
}

.mySwiper {
	width: 100%;
}

.sec-slider .slider-desc h3,
.sec-slider .slider-desc p,
.sec-slider .slider-desc .link-desc {
	opacity: 0;
	transform: translateY(25px);
}

.sec-slider .swiper-slide-active .slider-desc h3 {
	animation: textFadeUp 0.6s ease 0.2s forwards;
}

.sec-slider .swiper-slide-active .slider-desc p {
	animation: textFadeUp 0.6s ease 0.4s forwards;
}

.sec-slider .swiper-slide-active .slider-desc .link-desc {
	animation: textFadeUp 0.6s ease 0.6s forwards;
}

@keyframes textFadeUp {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.sec-slider .slider-arrow {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.sec-slider .slider-prev,
.sec-slider .slider-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.sec-slider .slider-prev {
	left: 2%;
	transform: translateY(-50%) rotate(180deg);
}
.sec-slider .slider-next {
	right: 2%;
}

.sec-slider .slider-arrow svg {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.sec-slider .slider-arrow svg polyline {
	transition: 0.4s;
}

.sec-slider .slider-arrow svg:hover polyline,
.sec-slider .slider-arrow:hover svg polyline {
	stroke-width: 38px;
}

@media screen and (max-width: 768px) {
	.sec-slider .slider-desc h3 {
		font-size: 25px;
	}
}

@media screen and (max-width: 576px) {
	.sec-slider .slider-desc h3 {
		font-size: 22px;
	}

	.sec-slider .slider-prev {
		left: 0;
	}
	.sec-slider .slider-next {
		right: 0;
	}
}
